@import "colors";
*{
	//font-family: 'Roboto', sans-serif !important;
}
#container{
	font-family: 'Roboto', sans-serif;
	//background: url(../img/bg1.jpg) center center no-repeat;
	div.menu{
		height: 100%;
		width : 100px;
		background: @brown;
		position: fixed;
		ul{
			position: relative;
			//top : 80px;
			li{
				display: block;
				height: 80px;
				width : 100%;
				a{
					display: block;
					width : 100%;
					height: 80px;
					color: white;
					text-align: center;
					text-decoration: none;
					padding-top : 50px;
					&:hover, &:focus{
						background: @brown;
					}
					span{
						display: block;
						position: absolute;
						color : white;
						font-size: 24px;
						left : ~"calc(50% - 12px)";
						top : 30%;
					}
				}
			}
		}
	}
	div.content{
		width : 100%;
		padding-left: 110px;
		padding-top: 10px;
		.page-header{
			h1{
				padding-left : 15px;
				color: @green;
			}
		}
		#home{
			h2{
				color : @brown;
				line-height: 500px;
				text-align: center;
				font-size: 60px;
				letter-spacing: 2px;
			}
			div.form-group{
				position: absolute;
				right : 10px;
				top : 10px;
				width : 300px;
			}
			div.bg{
				position: absolute;
				z-index: 2;
				width : 1024px;
				height: 1024px;
				background: url(../img/bg2.jpg) center center no-repeat;
			}
		}
		#form{
			padding-right: 15px;
			.input-group{
				margin-bottom: 10px;
				input{
					height: 25px;
					width : 300px;
				}
			}
		}
		#events{
			input{
				position: absolute;
				right : 10px;
				top : 10px;
				width : 300px;
			}
			ul{
				padding-left : 25px;
			}
			div.mousearea{
				width : 300px;
				height: 300px;
				position: absolute;
				right : 10px;
				top : 120px;
				background: @grey;
				span{
					position: relative;
					left : 10px;
					top : 10px;
				}
				h1{
					font-size: 120px;
					line-height: 300px;
					padding : 0;
					margin : 0;
					text-align: center;
				}
			}
		}
		#filters{
			.nav-tabs{
				border-bottom: 0;
			}
			ul.filtersContent{
				padding-left : 25px;
				padding-bottom: 30px;
				li{
					padding-bottom: 5px;
				}
			}
			button{
				margin-left: 25px;
			}
		}
		#tabs{
			&.nav-tabs{
				border : 0 !important;
			}
			.tab-content{
				padding : 30px;
			}
		}
	}
}