<div id="events" ng-controller="eventsController">
	<div class="page-header">
	  <h1>Angular Events <small></small></h1>
	</div>
	<input placeholder="type some fileter texts" class="form-control" ng-model='search' type="text">
	<ul>
		<li ng-repeat='e in events | filter : search'>{{e}}</li>
	</ul>
	<div class="mousearea" ng-mouseover="count = count + 1">
		<h1>{{count}}</h1>
	</div>
</div>