<div id="filters" ng-controller='filtersController'>
					
	<div class="page-header">
	  <h1>Filters <small></small></h1>
	</div>

	<ul class="filtersContent" ng-show='showContent'>

		<li><span>Currency : 123 => {{123 | currency}}</span></li>
		<li><span>Date : 1288323623006 => {{1288323623006 | date : 'yyyy-MM-dd'}}</span></li>
		<li><span>Uppercase : john => {{ 'john' | uppercase }}</span></li>
		<li>
			<span>OrderBy : </span>
			<span ng-repeat="name in ['Dan', 'Cathy', 'John', 'Aaron', 'Henry', 'Tim', 'Ben'] | orderBy track by $index">{{name}}{{$index < 6 ? ', ' : ''}}</span>
		</li>
		<li><span>
				Other built in filters : filter, number, date, json, lowercase, uppercase, limitTo
			</span></li>
	</ul>
	<button ng-click="showContent = !showContent" class="btn btn-default">
		{{showContent ? 'Hide' : 'Show'}}
	</button>
</div>