<div ng-controller='formController'>
	<div class="page-header">
	  <h1>User form <small></small></h1>
	</div>
	<div id="form">
		<form>
			<div class="form-group">
				<span>First Name</span>
				<input required type="text" ng-model='user.firstName' class="form-control">
			</div>
			<div class="form-group">
				<span>Last Name</span>
				<input required type="text" ng-model='user.lastName' class="form-control">
			</div>
			<div class="form-group">
				<span>Emaili</span>
				<input required type="email" ng-model='user.email' class="form-control">
			</div>
			<div class="form-group">
				<span>Password</span>
				<input type="password" ng-model='user.password' class="form-control">
			</div>
			<div class="form-group">
				<button ng-click="onSubmit()" class="btn btn-default">Submit</button>
			</div>
		</form>
	</div>
</div>