<div id="home" ng-controller="homeController">

	<h2>Hello {{myName}}!</h2>

	<div class="form-group">
		<span>Say hello to : </span>
		<input class="form-control" ng-model="myName" type="text">
	</div>
</div>
