<div class="menu">
	<ul class="nav">
		<li>
			<a href="#/">
				<span class="glyphicon glyphicon-home"></span>
				Home
			</a>
		</li>
		<li>
			<a href="#/form">
				<span class="glyphicon glyphicon-th-list"></span>
				Form
			</a>
		</li>
		<li>
			<a href="#/events">
				<span class="glyphicon glyphicon-flash"></span>
				Events
			</a>
		</li>
		<li>
			<a href="#/filters">
				<span class="glyphicon glyphicon-filter"></span>
				Filters
			</a>
		</li>
		<li>
			<a href="#/tabs">
				<span class="glyphicon glyphicon-menu-hamburger"></span>
				Tabs
			</a>
		</li>
	</ul>
</div>