<div id="tabs" ng-controller='tabsController'>

	<div class="page-header">
	  <h1>Tabs <small></small></h1>
	</div>

	<ul class="nav nav-tabs">
		<li  ng-class="tab === 1 ? '' : 'active'">
			<a ng-click='tab = 1'>Tab 1</a>
			<div class="tab-content" ng-show='tab === 1'>
				Tab content 1
			</div>
		</li>
		<li ng-class="tab === 2 ? '' : 'active'">
			<a ng-click='tab = 2'>Tab 2</a>
			<div class="tab-content" ng-show='tab === 2'>
				Tab content 2
			</div>
		</li>
		<li ng-class="tab === 3 ? '' : 'active'">
			<a ng-click='tab = 3'>Tab 3</a>
			<div class="tab-content" ng-show='tab === 3'>
				Tab content 3
			</div>
		</li>
	</ul>
</div>
